.section-landing {
  background-color: $color-grey-light;
  display: grid;
  grid-template-columns: 1fr 1400px 1fr;
  padding: 50px 0;
  @include grid-template-columns-main();

  &__inner {
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: 50% 50%;
    @include respond(medium) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    @include respond(medium) {
      display: none;
    }
    max-width: 100%;
    object-fit: cover;

    img {
      object-fit: cover;
      max-width: 100%;
    }
  }

  &__right {
    padding-left: 90px;
    box-sizing: border-box;
    @include respond(large) {
      padding-left: 40px;
    }
    @include respond(medium) {
      padding-left: 0;
    }
  }
}
