// Colors
$color-primary: #1e3d71;

$color-secondary: #20c0d7;
$color-secondary-dark: #1ca7bd;

$color-white: #ffffff;
$color-grey-light: #f1f2f4;
$color-grey-lightest: #fafafa;

$color-text-dark: #1d1d1f;
$color-text-medium: #414042;
